{% extends "base.html" %}
{% block content %}
<form action ="/signup" method ="post">
 
<label><h1>Signup</h1></label></h2>
<table>
        <tr>
<td><label>Username</label></td>    
<td><input name ="username" type ="text" /><span class="error">{{us_error}}</span>
    </td>
        </tr>

<tr>
<td><label>Password</label></td>
<td>
<input name ="password" type = "password" /><span class ="error">{{ps_error}}</span>
</td>

</tr>
<tr>
<td><label>Verify Password</label></td>
<td>  
<input name = "verify" type ="password" /><span class ="error">{{vps_error}}</span>
</td>
</tr>
</table>
<input type ="submit" value = "Submit Query" />
</form>
{% endblock %}